.bg-light{
    background-color: #232F3E !important;
    color: white;
}
#logo{
    margin: 0px 35px 10px 20px
}

.navbar{
    padding: 0em 0em 0em 0em;
    height: 4em;
}
.nav{
    background-color: #232F3E !important;
}

.btn-secondary{
    color: white;
    background-color: #232F3E;
    border-color: #232F3E;
}
.letters {
font-size: 14px;
font-weight: 700;
font-family: arial,sans-serif;
}
.search-box{
    width: 45rem !important;
    color: black;
    border-color: #FE7A4A;
}
.button{
    background-color: #232F3E;
    color: white;
    border-color: #232F3E;
    font-family: arial,sans-serif;
    font-size: 13px;
    cursor: pointer;
    margin: 25px 10px 10px 25px;

}
.dropdown{
    margin-left: 95px;
}
#menu{
    font-weight: bold;
}
