/*ToysGames*/
/*SearchBox*/
.all{
    width:6.3rem;
}
.search-box{
    margin-top:0 !important;
    margin-left:0 !important;
}
#barraopciones{
    background-color: #232F3E !important;
    height:3.5rem;
}
/*SearchBox Final*/
/*Media Query Header*/
@media only screen and (max-width: 1335px){
    #barraopciones{
        background-color: #232F3E !important;
        height: 85px;
    }
}
@media only screen and (max-width: 1180px){
    #LogoAmazonHeader2{
        display:none;
    }
}
@media only screen and (max-width: 991px){
    #LogoAmazonHeader2{
        display: inline-block;
    }
}
@media only screen and (max-width: 768px){
    #barraopciones{
        background-color: #232F3E !important;
        height: 130px;
    }
}
@media only screen and (max-width: 576px){
    #barraopciones{
        background-color: #232F3E !important;
        height: 150px;
    }
}
/*Media Query Header Final*/
.general-box{
    background-color: #FFF;
    background-size: cover;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 7rem;  
}
.toysgames-boxleft{
    margin-bottom: 20px;
    float: left;
    line-height:15px;
    width: 17%; 
}
.boxleft-items{
    padding-right:1rem;
    border-right:1px solid #DDDDDD;
}
.spacing-basemax{
    margin-bottom:2rem !important;
}
.spacing-base{
    margin-bottom: 14px !important;
}
.spacing-basesmall{
    margin-bottom: 6px !important;
}
.title-gray-left{
    color:#969696;
    font-weight: 400!important;
    font-style: normal!important;
    text-transform: none!important;
    text-decoration: none!important;
}
.title-black-left{
    font-size: 12px!important;
    font-weight: 700!important;
    line-height: 1.5!important;
    color: #111!important;
}
.nomargin{
    margin-bottom:0rem;
}
.list-item-left{
    margin-left: 10px;
    font-size: 12px!important;
    line-height: 1.5!important;
}
.list-item-left-nomargin{
    font-size: 12px!important;
    line-height: 1.5!important;
}
.anchor-item-left{
    color: #111;
    text-decoration:none;
}
.anchor-item-left:hover{
    color:#CD7029;
    text-decoration:none;
}
.checkbox-item{
    line-height: 15px !important;
}
.text-label{
    font-size:12px;
    font-family: Arial,sans-serif;
}
.margin-item{
    margin-top:10px;
}
.margintop{
    margin-top:2.5rem;
}
.marginbottom{
    margin-bottom:20px;
}
h1 {
    font-weight: 400 !important;
    font-size: 28px !important;
    line-height: 0.8 !important;
}
.principal-boxrightitems{
    width:80% !important;
}
.principal-boxrightitems p{
    font-size: 13px;
    line-height: 19px;
    color: #111;
    padding: 0;
    margin: 0 0 14px 0;
}
.divfirsth1{
    box-sizing: border-box;
    padding-left:1rem;
}
.title-secondary{
    font-weight: 450;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #333;
    margin-bottom:25px;
}
.category-row{
    padding:0rem 1rem;
}
.anchor-category:hover{
    color: #111!important;
    text-decoration: none;
}
.text-category{
    color: #111!important;
    text-align:center;
    margin-bottom:12px;
    font-weight: 450!important;
    font-style: normal!important;
    text-transform: none!important;
    text-decoration: none!important;
    box-sizing:border-box;
    width:210px;
}
.category-imageitem{
    width:210px;
    height:175px;
    box-sizing:border-box;
    background-size: cover;
}
.toysgames-imageitem{
    height:180px;
    width:180px;
    background-repeat: no-repeat !important;
}
.eligible{
    font-size: 13px;
    color: #949494;
}
.anchor-label{
    font-size:15px !important;
    font-family: Arial,sans-serif !important;
    color:#0066c0 !important;
}
.anchor-label:hover{
    color:#CD7029 !important;
    text-decoration: none !important;
}
.toysgamesContenido{
    line-height: 2!important;
    height:110px;
}
.toysgamesItemstext{
    margin-top:15px;
    line-height: 1!important;
}
.dolar{
    font-size: 12px;
    vertical-align: top;
}
.centavos{
    font-size: 11px;
    vertical-align: top;
}
.number{
    font-size: 20px;
    font-weight: 500;
}
.td-toysgamesitem{
    border-bottom:1px solid #DDDDDD;
    margin-bottom:2.5rem;
}