#nav-tab{
    width: 900px;
    margin-left: 190px;
    background-color: #F3F3F3 !important;
}
.producto-lista{
    margin-left: 248px;
    width: 306px;
    height: 179px;
    font-size: 12px;
    margin-top: 25px;
}
.title-list{
    color:#E77600;
    margin-left: 68px;
}