.div-top{
    max-width: 1200px!important;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    padding:1.5rem;

}
.image-top{
    vertical-align: top;
    max-width: 100%;
    border: 0;
    box-sizing: border-box;
    width:559px;
    height:36px;  
}
.acontainer{
    max-width: 1200px!important;
    min-width: 996px;
    padding: 20px 24px;
    margin: 0 auto;
    box-sizing: border-box;
}
h1{
    font-size: 28px;
    line-height: 1.2;
    font-weight: normal;
}
#secondTitle{
    font-size: 28px;
    line-height: 1.2;
    font-weight: normal;
    margin-top:14px !important;
}
.spacing-base{
    padding-bottom: 4px;
}
.spacing-small{
    margin-bottom: 10px;
}
.spacing-medium{
    margin-bottom: 14px;
}
.spacing-large{
    margin-bottom:22px !important;
}
.spacing-top-title{
    margin-top:2.2rem;
}
.spacing-large-title{
    margin-bottom:2rem;
}
.spacing-left{
    margin-left:14px;
}
.arow{
    float:left;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
h1,h2,h3{
    padding-bottom: 4px;
    font-family: Arial,sans-serif;
    text-rendering: optimizeLegibility;
}
h2{
    font-size: 21px;
    line-height: 1.3;
    font-weight: bold;
}
h3{
    font-size: 17px !important;
    line-height: 1.3;
    font-weight: bold;
}
.form{
    width:465px;
    font-size: 13px;
    line-height: 19px;
    color: #333;
    font-family: Arial,sans-serif;
}
.payment-card{
    font-size: 13px;
    line-height: 19px;
    color: #333;
    font-family: Arial,sans-serif;
}

.anchor-label{
    text-decoration: none !important;
    color: #007eb9 !important;
}

.anchor-label:hover{
    text-decoration: underline !important;
    color:#E88B32 !important;
}

.field{
    float:left;
    margin-right: 10px;
}
.field-button{
    float:left;
    margin-right: 10px;
    padding:26px 10px 0px 0px;
}
.field-button button{
    height:31px;
    width:100px;
    border: 1px solid #bf942a;
    background: #f0c14b;
}
.field-button button:hover{
    background:#EFBE41;
    border: 1px solid #957321;
}

#nombreTarjeta{
    width:130px !important;
}
#numeroTarjeta{
    width:184px !important;
}

input{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: Arial;
}

input[type="text"], input[type="password"]{
    width:100% !important;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border-radius: 3px;
    font-family: Arial,sans-serif;
    font-size: 13px;
    border: 1px solid #d0d0d0;
    border-top: 1px solid #bbb;
}

select{
    width:100%;
    height:19px;
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

.caja-texto:focus{
    border-color:#E77600 ;
    box-shadow: 0 0 6px 0 #E77600;
}

.caja-texto:hover{
    cursor: text;
}
.text-exp-date{
    text-align:center;
    padding-left:10px;
    padding-right:10px;
}
.expiration-date{
    height:31px;
    text-align: center;
}
#mes{
    width:50px;
}
#anio{
    width:64px;
}
.box-continue{
    margin: 10px 10px 40px 10px;
    padding: 24px 18px;
    border-radius: 4px;
    position: relative;
    background:#F7F7F7;
    width:286px;
    height:78px;
}
.button-continue{
    height:31px;
    width:248px;
    border: 1px solid #bf942a;
    background: #f0c14b;
}
.button-continue:hover{
    background:#EFBE41;
    border: 1px solid #957321;
}

/*PlaceOrder*/
.box-informacion{
    width: 60%;
    min-width:200px;
    padding:10px 25px;
    border-radius: 4px !important;
    border:1px solid #ddd !important;
    background-color: white;
}
.box-boton{
    width:290px;
    min-width:100px;
    padding:17px 19px;
    border-radius: 4px !important;
    border:1px solid #ddd !important;
    background-color: white;
}
.box-boton button{
    height:31px;
    width:248px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #bf942a;
    background: #f0c14b;
}
.box-boton button:hover{
    background:#EFBE41;
    border: 1px solid #957321;
}
#div-exito{
    color:#529900 !important;
    display: none;
}
li{
    list-style: none;
}
#body-placeorder{
    font-size: 13px !important;
    line-height: 19px !important;
    font-family: Arial,sans-serif !important;
}
.card-img{
    width: 124px;
    height: 125px;
    margin-left: 17px;
}
