.bg-light{
    background-color: #232F3E !important;
    color: white;
}
#logo{
    margin: 0px 35px 10px 20px
}

.navbar{
    padding: 0em 0em 0em 0em;
    height: 4em;
}
.nav{
    background-color: #232F3E !important;
}

.btn-secondary{
    color: white;
    background-color: #232F3E;
    border-color: #232F3E;
}
.search-box{
    width: 45rem !important;
    color: black;
    border-color: #FE7A4A;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 50px;
    margin-top: -38px;
}
.button{
    background-color: #232F3E;
    color:#C2C3C4;
    border-color: #232F3E;
    font-family: arial,sans-serif;
    font-size: 13px;
    cursor: pointer;
    margin: 25px 10px 10px 25px;
}
.dropdown{
    margin-left: 95px;
}
.menu{
    font-weight: bold;
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
    line-height: 15px;
    background-color: #233040;
    color: white;
    width: 7rem;
    border-color: #233040;
    margin-left: 103px;
}
.downbutton{
    margin-top: 5px;
}
.postal{
    padding: 1.8em;
    width: 19rem;
    border-radius: 0px;
    margin-right: 44px;
    background-color: white;
    margin-top: -231px;
    height: 454px;
}
.col-xl-3{
    max-width:-webkit-fill-available; 
}

.cursor{
    color: #C2C3C4;
    text-decoration: none;
    border-color: #C2C3C4;
}

.shop{
    font-size: 13px;
}

.cuadro{
    background-repeat: no-repeat;
    width: 8rem;
    height: 2rem;
    border-color:#233040;
    margin-left: 11px;
    margin-top: -5px;
}
.en{
    width: 2.5rem;
    height: 2.3rem;
    margin-left: 120px;
    margin-top: -6px;
    border-color: transparent;
    background-repeat: no-repeat
}

#carrito{
    width: 50px;
    height: 0px;
}


.all{
    height: 2.3rem;
    font-size: 12px;
    border-radius: 5px;
    width: 2.3rem;
    background-color: #DADADA;
    color: #6f6f6f;
    margin-left: 13px;
}
.col-xl-12{
    margin-top: 235px;
    width: fit-content;
}

.precio{
    margin-left: 850px;
    margin-top: -60px;
}
.cantidad{
    margin-left: 952px;
    margin-top: -58px;
    height: 27px;
    width: 50px;
    background-color: white !important;
    color: black;
}
.card-title{
    margin-bottom: 0px;
}

.precio2{
    margin-left: 850px;
}

.cantidad2{
    margin-left: 1032px;
    margin-top: -35px;
}


.zona-botones{
    margin-left: 900px;
    margin-top: -205px;
}
#btn-agregar-carrito{
    background-color:  #F0C14C;
}
.btn-buy{
    background-color:  #F0C14C;
    color: black;
}
#btn-agregar-lista{
    border-bottom-color: black;
    background-color: white;
}
