.links{
    color: black;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
}
.flex-column{
    margin-top: -88px;
    width: fit-content;
    margin-left: 14px;
}
.title6{
    font-size: 16px;
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;

}
.cards1{
    margin-top: -120px;
    margin-left: 240px;
    width: -webkit-fill-available;
}
.cards2{
    margin-left: 236px;
    margin-top: 50px;
    width: -webkit-fill-available;
}

.card{
    box-sizing: border-box;
    border: 0px;
}

.img-3 {
width: fit-content;
}
 
.eligible{
    font-size: 13px;
    color: #949494;
}
.title2{
    margin-left: 249px;
    font-weight: 700;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 28px;
    margin-top: 8px;
}

.dolar{
    font-size: 12px;
    vertical-align: top;
}
.centavos{
    font-size: 11px;
    vertical-align: top;
}
.number{
    font-size: 20px;
    font-weight: 500;
}

.left{
    font-weight: 400!important;
    color: #767676!important;
    font-size: 17px!important;
    font-family: "Amazon Ember",Arial,sans-serif;
    margin-top: -10px;

}
.down-text{
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 13px;
    color: #111;
    margin-left: 247PX;
    margin-top: -16px;

}
.title4{
    text-align: center;
    color: #333;
    font-family: "Amazon Ember",Arial,sans-serif !important;
    font-weight: lighter;
}
.division{
    margin-top: 0rem;
    width: 1103px;
    margin-right: 0px;
}
.category{
    color: black;
    font-family: "Amazon Ember",Arial,sans-serif !important;
    font-size: 13px;
}