.bg-light{
    background-color: #232F3E !important;
    color: white;
}
#logo{
    margin: 0px 35px 10px 20px
}

.navbar{
    padding: 0em 0em 0em 0em;
    height: 4em;
}
.nav{
    background-color: #232F3E !important;
}

.btn-secondary{
    color: white;
    background-color: #232F3E;
    border-color: #232F3E;
}
.search-box{
    width: 45rem !important;
    color: black;
    border-color: #FE7A4A;
    background-repeat: no-repeat;
    background-position: right;
}
.button{
    background-color: #232F3E;
    color:#C2C3C4;
    border-color: #232F3E;
    font-family: arial,sans-serif;
    font-size: 13px;
    cursor: pointer;
    margin: 25px 10px 10px 25px;
}
.dropdown{
    margin-left: 95px;
}
.menu{
    font-weight: bold;
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
    line-height: 15px;
    background-color: #233040;
    color: white;
    width: 9rem;
    border-color: #233040;
    margin-left: 103px;
}
.downbutton{
    margin-top: 5px;
}
.cursor{
    color: #C2C3C4;
    text-decoration: none;
    border-color: #C2C3C4;
}

.shop{
    font-size: 13px;
}

.en{
    width: 3rem;
    height: 2rem;
    margin-left: 120px;
    margin-top: -6px;
    border-color: transparent;
}

.all{
    height: 2.3rem;
    font-size: 12px;
    border-radius: 5px;
    background-color: #DADADA;
    color: #6f6f6f;
}
.cuadro{
    width: 10px;
    height: 10px;
    border-color: #233040;
    margin-left: 114px;
    margin-top: -32px;
}
.amazon-music{
    color: black;
    font-size: 13px;
    margin-top: 11px;
    margin-left: 42px;
    margin-right: 42px;
    font-family: arial,sans-serif;
}
.navA{
    background-color: white !important;
    height: 56px;
.bg-light{
    background-color: #232F3E !important;
    color: white;
}
#logo{
    margin: 0px 35px 10px 20px
}

.navbar{
    padding: 0em 0em 0em 0em;
    height: 4em;
}
.nav{
    background-color: #232F3E !important;
}

.btn-secondary{
    color: white;
    background-color: #232F3E;
    border-color: #232F3E;
}
.search-box{
    width: 45rem !important;
    color: black;
    border-color: #FE7A4A;
    background-repeat: no-repeat;
    background-position: right;
}
.button{
    background-color: #232F3E;
    color:#C2C3C4;
    border-color: #232F3E;
    font-family: arial,sans-serif;
    font-size: 13px;
    cursor: pointer;
    margin: 25px 10px 10px 25px;
}
.dropdown{
    margin-left: 95px;
}
.menu{
    font-weight: bold;
    font-size: 14px;
    font-family: arial,sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
    line-height: 15px;
    background-color: #233040;
    color: white;
    width: 9rem;
    border-color: #233040;
    margin-left: 103px;
}
.downbutton{
    margin-top: 5px;
}
.cursor{
    color: #C2C3C4;
    text-decoration: none;
    border-color: #C2C3C4;
}

.shop{
    font-size: 13px;
}

.en{
    width: 3rem;
    height: 2rem;
    margin-left: 120px;
    margin-top: -6px;
    border-color: transparent;
}

.all{
    height: 2.3rem;
    font-size: 12px;
    border-radius: 5px;
    background-color: #DADADA;
    color: #6f6f6f;
}
.cuadro{
    background-repeat: no-repeat;
    width: 8rem;
    height: 2rem;
    border-color:#233040;
    margin-left: 11px;
    margin-top: -5px;
}
.amazon-music{
    color: black;
    font-size: 13px;
    margin-top: 11px;
    margin-left: 42px;
    margin-right: 42px;
    font-family: arial,sans-serif;
}
.navA{
    background-color: white !important;
    height: 56px;
}