/*Deals*/
/*SearchBox*/
.all{
    width:4rem;
}
.search-box{
    margin-top:0 !important;
    margin-left:0 !important;
}
#barraopciones{
    background-color: #232F3E !important;
    height:3.5rem;
}

/*SearchBox Final*/
/*Media Query Header*/
@media only screen and (max-width: 1335px){
    #barraopciones{
        background-color: #232F3E !important;
        height: 85px;
    }
}
@media only screen and (max-width: 1180px){
    #LogoAmazonHeader2{
        display:none;
    }
}
@media only screen and (max-width: 991px){
    #LogoAmazonHeader2{
        display: inline-block;
    }
}
@media only screen and (max-width: 768px){
    #barraopciones{
        background-color: #232F3E !important;
        height: 130px;
    }
}
@media only screen and (max-width: 576px){
    #barraopciones{
        background-color: #232F3E !important;
        height: 160px;
    }
}
/*Media Query Header Final*/
#firsth1{
    padding-right: 10px;
    padding-left: 10px;
}
#firsth1 p{
    padding: 0;
    margin: 0 0 14px 0;
    font-size: 14px;
}
#containeradimage1{
    width:100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 4rem;
}

.general-box{
    background-color: #FFF;
    background-size: cover;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 7rem;  
}
.text-bold{
    font-weight: 700!important;
    font-family: Arial,sans-serif;
    font-size: 13px !important;
    line-height: 19px;
    color: #111 !important;
}
.text-label{
    font-size:12px;
    font-family: Arial,sans-serif;
}
.anchor-label{
    font-size:12px !important;
    font-family: Arial,sans-serif !important;
    color:#0066c0 !important;
}
.anchor-label:hover{
    color:#CA671C !important;
    text-decoration: underline !important;
}
.deal-boxoptions{
    background-color: #F5F5F5;
    width: 18%;
    margin-right: 15px;
    float: left;
    height: auto;
    padding: 5px 20px;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    
}
.filter-items{
    margin-top:10px;
}
#principal-dealitems{
    display: table;
    width:80%;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 19px;
    color: #111;
}
.td-dealitem{
    padding:15px;
    border:1px solid #e7e7e7;
}
.deal-imageitem{
    height:210px;
    width:210px;
}
.orange-box{
    font-size: 11px!important;
    color: #FFF!important;
    font-weight: 700!important;
    background: #C45500;
    height: 18px;
    max-width: 90%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0 5px;
    overflow: hidden;
}

.dealContenido{
    line-height: 2!important;
    height:110px;
}
.dealItemsprice{
    font-size: 17px !important;
    font-family: Arial,sans-serif !important;
}
.dealItemstext{
    margin-top:5px;
    line-height: 1!important;
}
.button-dealItem{
    text-align: center!important;
    margin-top:3rem;
}
.button-dealItem button{
    width: 100%;
    height: 100%;
    color:#111;
    border: 0;
    border-radius:3px;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    background: #f0c966;
    border-color: #a88734 #9c7e31 #846a29;;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none!important;
    vertical-align: middle;
}
.button-dealItem button:hover{
    background: #f7c64b;
    border-color: #a88734 #9c7e31 #846a29;
}