.links{
    color: black;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
}
.flex-column{
    margin-top: -330px;
    width: fit-content;
    margin-left: 14px;
}
.title6{
    font-size: 16px;
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;

}
.cards1{
    margin-top: -680px;
    margin-left: 240px;
    width: -webkit-fill-available;
}
.cards2{
    margin-left: 236px;
    margin-top: 50px;
    width: -webkit-fill-available;
}
.cards3{
    font-size: 12px;
    margin-left: 240px;
}

.card{
    margin-right: 50px;
    box-sizing: border-box;
    border: 0px;
}

.carousel-control-prev{
    position: relative;
    background-color: #c3aaaa8c;
    margin-top: 17px;
    margin-left: 192px;
    width: 3%;
    height: 2.5rem;
}
.carousel-control-next{
    position: relative;
    margin-left: 1248px;
    background-color: #c3aaaa8c;
    margin-top: 76px;
    width: 3%;
    height: 2.5rem;
}
.principal{
    margin-left: 210px;
}

.anuncio{
    margin-left: 217px;
}


.genero{
    font-family: "Amazon Ember",Arial,sans-serif;
    color: #0066c0!important;
    font-weight: 700!important;
}

.card-img-top{
    width: max-content;
}
 
.title5{
    margin-left: 220px;
    margin-top: 15px;
    font-weight: bold;
}
.textX{
    font-size: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
    width: 1072px;
    margin-left: 255px;
}
